<div class="banner" style="background-image: linear-gradient(-225deg, rgba(139, 4, 175, 0.29) 0%, rgba(50, 0, 62, 0.6) 50%), url('https://orig00.deviantart.net/580c/f/2016/258/e/a/rick_and_morty_background_no_6_by_jurokoo-dahrw5w.png');">
  <div class="banner-content">
    <h1>Rick Sanchez's Cocktail</h1>
    <p>The best cocktail curator of the multiverse</p>
    <div id="img-banner">
      <%= image_tag "https://static1.squarespace.com/static/528252b7e4b00150d03a4848/59a2354eebbd1a0623e0cefe/59a2359ccd39c3181c45ba52/1503802784648/RickAndMorty_OohWeeMrPoopyButthole1500.png?format=500w" %>
    </div>
  </div>
</div>


<div class="flex">
  <span class="btn"><%= link_to "Create your cocktail", new_cocktail_path %></span>
</div>

<div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="card-category">BuUuUurp</div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <h4><%= link_to "Details", cocktail_path(cocktail) %></h4>
        </div>
        <img class="card-user" src="https://static1.squarespace.com/static/528252b7e4b00150d03a4848/59a2354eebbd1a0623e0cefe/59a2359f6a49631dd5192334/1503802788601/RickAndMorty_RickAngryBurp1500.gif?format=1500w">
        <i class="fa fa-bomb" aria-hidden="true"></i>
      </div>
    <% end %>
</div>