<div class="banner" style="background-image: linear-gradient(rgba(2, 26, 58, 0.5), rgba(2, 26, 58, 0.5)), url('http://orig05.deviantart.net/b424/f/2016/258/0/5/rick_and_morty_background_no_4_by_jurokoo-dahrvd7.png');">
        <%= simple_form_for [@cocktail], defaults: { input_html: { class: 'new-form' } } do |f| %>
        <div class="form-row">
          <h2>How's your poison called pal' ?</h2>
          <%= f.input :name, label: false %>
        </div>
        <div class="form-row">
          <h2>What does it look like ?</h2>
          <%= f.input :photo, as: :attachinary %>
        </div>
          <%= f.submit "Add cocktail", input_html: { class: 'form-submit' } %>
        <% end %>
</div>