.box-name {
  box-shadow: 2px 3px 15px #CCC;
}

.box-input {
  margin: 10px;
}

#new {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}



.btn-primary {
  margin: 20px;
}