// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
   margin:0;
   padding:0;
   height:100%;
}

html {
  line-height: 1.6;
  letter-spacing: 0.0625em;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}