

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/gbarthere"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/guillaume_in_lisboa/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/guillaume.barthere"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/GuillaumeJRB"><i class="fa fa-twitter"></i></a>
    <a href="www.linkedin.com/in/guillaume-barthere"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>