<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "https://cdn.dribbble.com/users/11655/screenshots/2644741/rick_1x.png" %>
  <% end %>
</div>