/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  transition: all 0.3s ease;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}

/* Logo */
.navbar-wagon-brand img {
  height: 70px;
  padding: 0px 30px;
  mix-blend-mode: multiply;
}

